:root {
  color-scheme: light dark;
}

:root {
    --accent: #186684;

    --bg: light-dark(#f2f3f6, #1f2a36); /* #1f2a36 #13191f #12121e */
    --sidebar-bg: light-dark(#ffffff, #161921); /* #1d212a #1d212a #1d1d29 */

    --color: light-dark(black, #e9e9e9);
    --ctn-bg: light-dark(#ffffff, #142332);
    --inp-bg: light-dark(#e5e5e5, #202f3e);
    --ctn-shadow: 0 2px 3px 1px #00000080;
}

