:root {
  color-scheme: light dark;
}

:root {
    --accent: #186684;
    --accent-text: white;

    --bg: light-dark(#f2f3f6, #1f2a36); /* #1f2a36 #13191f #12121e */
    --lg-bg: linear-gradient(15deg, #1dc9a3 0%, #1d516e 50%, #06071c 100%) center;
    --sidebar-bg: light-dark(#ffffff, #161921); /* #1d212a #1d212a #1d1d29 */

    --color: light-dark(black, #e9e9e9);
    --ctn-bg: light-dark(#e5e5e5, #142332);
    
    --inp-bg: light-dark(#ffffff, #202f3e);
    --inp-bd: light-dark(#cdcdcd, #404040);

    --ctn-shadow: 0 2px 3px 1px #00000080;
}

